body {
    position: relative;
}

.navbar-inverse {
    margin: 1rem;
    background-color: whitesmoke;
    border-radius: 55px;
}

.container-fluid {
    margin: 1ch;
}

@font-face {
    font-family: myfonts;
    src: url("../src/fonts/war.TTF");
}

@font-face {
    font-family: myfont1;
    src: url("../src/fonts/fonts.otf");
}

.tag {
    font-family: myfonts;
    font-size: 95px;
    text-overflow: none;
    text-shadow: 3px 3px 3px red;
}

.skills {
    font-family: myfonts;
    font-size: 24px;
    text-align: center;
    padding-top: 83px;
    padding-left: 13px;
    text-shadow: 1px 1px 1px red;
}

a {
    width: 150px;
    color: red;
    font-size: 44px;
    font-family: myfonts;
    margin: 55px;
}

.blog {
    padding-top: 68px;
    font-size: 44px;
    text-shadow: 1px 1px 1px black;
    font-family: myfonts;
}

.bar {
    display: flex;
    flex-direction: row;
    margin: 3px;
    justify-content: center;
    height: 44px;
    color: black;
}

div.col-sm-12 div {
    height: 1100px;
    font-size: 28px;
}

#section1 {
    font-size: 152px;
    color: black;
    background-color: whitesmoke;
}

.name {
    padding-top: 534px;
    font-family: myfont1;
    text-overflow: none;
    text-shadow: 3px 3px 3px lightsalmon;
    font-size: 299px;
}

#section2 {
    padding-top: 53px;
    color: black;
    background-color: whitesmoke;
}

#section3 {
    padding-top: 53px;
    color: black;
    background-color: whitesmoke;
}

.img {
    padding-top: 74px;
    width: inherit;
    height: 74px;
    border: 0px solid black;
}

#section4 {
    color: black;
    padding-top: 53px;
    background-color: whitesmoke;
}

#section42 {
    color: black;
    padding-top: 53px;
    background-color: whitesmoke;
}

@media screen and (max-width: 810px) {
    #section1,
    #section2,
    #section3,
    #section41,
    #section42 {
        margin-left: 150px;
    }
}