.grid {
  display: block;
}
@font-face {
  font-family: extenalFont;
  src: url("../src/fonts/Hellgrazer.otf");
}
@font-face {
  font-family: extenalFont2;
  src: url("../src/fonts/Vlump.ttf");
}
@font-face {
  font-family: extenalFont3;
  src: url("../src/fonts/The\ Blacklist.ttf");
}
@font-face {
  font-family: extenalFont4;
  src: url("../src/fonts/Quantify\ Bold\ v2.6.ttf");
}

img {
  max-width: 200px;
}
.menu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  color: black;
  font-size: 19px;
  font-family: extenalFont2;
  background: rgba(10, 4, 0, 0.411);
}
.menu {
  display: grid;
  margin: 0;
  grid-gap: 10px;
  align-content: center;
  padding: 0;
  font-family: extenalFont;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.top {
  background: black
    url("https://source.unsplash.com/collection/193055/1600x900");
  transform: translate3d(2px, 3px, 3px);
  opacity: 1;
  grid-area: "firstSection firstSection fistSection";
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) l;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: firstSection;
  justify-content: center;
  align-content: center;
  padding: 50px;
}
#section1 {
  display: flex;
  flex-direction: row;
  grid-area: firstSection;
  justify-content: start;
  align-content: center;
}
#section1 > * h1 {
  font-family: extenalFont;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.623);
  font-weight: 300px;
  margin-top: 25rem;
}
#section1 > * img {
  display: block;
  height: 120px;
  border: 1px solid white;
  z-index: 99;
  position: absolute;
  border-radius: 50%;
}
.firstSection {
  grid-area: firstSection;
  min-height: 800px;
}
#section2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px 1fr));
}
#section2 > * p {
  margin-top: 15rem;
  font-size: 34px;
  padding: 0;
  font-family: extenalFont4;
}

#section2 > * h1 {
  font-size: 34px;
  font-family: extenalFont4;
}
.secondSection {
  grid-area: firstSection;
  min-height: 800px;
}
thirdSection {
  grid-area: firstSection;
  min-height: 800px;
}

#section3 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px 1fr));
}
#section3 > * p {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
  align-content: center;
  text-transform: capitalize;
  font-size: 34px;
  padding: 0;
  font-family: extenalFont4;
}

#section3 > * h1 {
  justify-content: center;
  font-size: 34px;
  text-transform: uppercase;
  font-family: extenalFont2;
}
.secondSection {
  grid-area: firstSection;
  min-height: 800px;
}
.section44 {
  grid-area: firstSection;
  min-height: 800px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.section44 > p {
  justify-content: center;
  font-size: 34px;
  text-transform: uppercase;
  font-family: extenalFont2;
}
