@font-face {
  font-family: myfonts;
  src: url("fonts.otf");
}

body {
  background: url("https://images.unsplash.com/photo-1490821957118-4ae460b4f52b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a7f3698eaa70ec72d450082180cfac47&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.9;
}

.headr {
  padding-top: 25%;
  font-size: 250px;
  color: black;
  text-align: center;
  font-weight: 50%;
  font-family: myfonts;
}

.flexy {
  border: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  margin-inline-start: 2px;
}
button{
   border: 12px solid transparent; 
   outline: none;
   border-radius: 50px;
   font-size:95px;
}

.hom {
  margin-left: 30px;
   font-size:25px;
  background-color: transparent;
}
.abou {
   font-size:25px;
  background-color: transparent;
  background-color: transparent;
}
.blo {
  background-color: transparent;
   font-size:25px;
  background-color: transparent;
}
.con {
  background-color: transparent;
   font-size:25px;
  background-color: transparent;
}
